<!--{% extends "layout.html" %}

{% block title %}
    Current workout
{% endblock %}

{% block main %}-->

<div>
    <h3>workout title</h3>
</div>

<div>
    <img src="skdjfkjkjjk">
</div>

<div>
    <p1>timer if workout.type == "time", else reps integer</p1>
</div>

<div>
    <button href="previous workout">previous</button>
    <p1>start button if workout.type == "time", else next button (this will lead to rest_timer.html)</p1>
</div>

<div>
    <p1>if workout.type != "time",else automatic next when time is over</p1>
</div>

<div>
    <p1>workout description</p1>
</div>

<div>
    <p1>focus area</p1>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>
</div>

<div>
    <img src="skdjfgkldjskj">
</div>

<div>
    <p1>common mistakes</p1>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>
</div>

<div>
    <p1>breathing technique</p1>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>
</div>

<!--{% endblock %}-->